@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
body{
  background-color: #202020;
    background-image: url(bgimg.png);
}
main{
    padding: 0;
    }
    header{
    position: sticky;
    top:0;
    padding:40px;
    background: transparent;
    text-align: center;
    }
    
    content > div {
    height: 50px;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: transparent;
      }
      
      li {
        float: right;
        font-family: 'Roboto', sans-serif;
      }
      
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
      
      a.effect-shine:hover {
        -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
        -webkit-mask-size: 200%;
        animation: shine 2s infinite;
      }
      
      @-webkit-keyframes shine {
        from {
          -webkit-mask-position: 150%;
        }
        
        to {
          -webkit-mask-position: -50%;
        }
      }
      h1 {
        font-size: 1.5em;
        text-align: center;
        margin: 1.2em 0;
        color: white;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
      }
      
      
      /*Carousel*/
      .carrousel {
        background: transparent;
        text-align: center;
        padding: 4em 0;
        height: 7.5em;
        max-width: 750px;
        margin: auto;
        position: relative;
        overflow: hidden;
      }
      .carrousel h2 {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        margin: 0;
        margin-top: -1.7em;
        padding: 0;
        font-size: 1em;
        text-align: center;
        color: white;
      }
      .carrousel .slides {
        width: 400%;
        left: 0;
        padding-left: 0;
        padding-top: 1em;
        overflow: hidden;
        list-style: none;
        position: relative;
      
        -webkit-transition: transform .5s;
        -moz-transition: transform .5s;
        -o-transition: transform .5s;
        transition: transform .5s;
      }
      .carrousel .slides li {
        width: 25%;
        position: relative;
        float: left;
      }
      .carrousel li p{
        margin-top: 0;  
      }
      .carrousel li q {
        max-width: 90%;
        margin: auto;
        color: white;
        font-size: 1.3em;
        font-weight: bold;
      }
      .carrousel li img {
        width: 3em;
        height: 3em;
        object-fit: cover;
        border-radius: 50%;
        margin-left: -1.5em;
        margin-right: 0.5em;
        vertical-align: middle;
      }
      .carrousel li span.author {
        margin-top:0.5em;
        font-size: 1.2em;
        color: white;
        display: block;
      }
      .carrousel .slidesNavigation {
        display: block;
        list-style: none;
        text-align: center;
        bottom: 1em;
  
          position: absolute; 
         
          width: 104px; 
          left: 50%; 
          margin-left: -52px; 
      }
      .carrousel input {
        display: none;
      }
      .carrousel .slidesNavigation label {
        float: left;
        margin: 6px;
        display: block;
        height: 10px;
        width: 10px;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        border: solid 2px purple;
        font-size: 0;
      }
      
      #radio-1:checked ~ .slides {
        transform: translateX(0%);
      }
      #radio-2:checked ~ .slides {
        transform: translateX(-25%);
      }
      #radio-3:checked ~ .slides {
        transform: translateX(-50%);
      }
      #radio-4:checked ~ .slides {
        transform: translateX(-75%);
      }
      
      
      .carrousel .slidesNavigation label:hover {
         cursor: pointer;
      }
      /* You have to repeat this with each slide/dot */
      .carrousel #radio-1:checked ~ .slidesNavigation label#dotForRadio-1,
      .carrousel #radio-2:checked ~ .slidesNavigation label#dotForRadio-2,
      .carrousel #radio-3:checked ~ .slidesNavigation label#dotForRadio-3,
      .carrousel #radio-4:checked ~ .slidesNavigation label#dotForRadio-4 {
        background: purple;
      }
      
      @media  (max-width: 796px) {
        .carrousel{
          height: 8.5em;
        }
      }
      @media  (max-width: 480px) {
        .carrousel li p {
          padding-left: 0.5em;
          padding-right: 0.5em;
        }
        .carrousel li q {
            font-size: 1em;
        }
        .carrousel li img {
           width:2em;
           margin-left: -1em;
           margin-right: 0.25em;
        }
      }
      #footer {
        position: fixed;
      
        bottom: 0;
        width: 100%;
        /* Height of the footer*/ 
        height: 40px;
        background: transparent;
        color: white;
        font-family: 'Roboto', sans-serif;
        opacity: 20%;
        text-align: left;
        padding-left: 70px;
        
        

      }
      .twp-video-background {
        filter: grayscale(100%);
        background: #000;
        position: absolute;
        top: 0; 
        right: 0; 
        bottom: 0; 
        left: 0;
        overflow: hidden;
        box-sizing: border-box; 
    }
    .twp-video-foreground,
    .twp-video-background video{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        box-sizing: border-box;
        object-fit: cover; 
    }
    
    .twp-video-foreground{
        padding-bottom: 56.25%;
        box-sizing: border-box; 
    }
    
    .twp-video-layer {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color:;
        opacity: 0.5;
        box-sizing: border-box; 
    }